/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size: 62.5%;
}

body {
    background-color: black;
}

h1, p {
  color: white;   
}

h1 {
     text-align: center;
     
}

input {
     padding: .5rem 1rem;
}

button {
     padding: 1rem 3rem;
     font-size: 1.5rem;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

figure {

}

img {
     width: 50%;
     display: block;
     margin: auto;
}

p {
     font-size: 1.8rem;
     width: 70%;
     margin: auto;
     text-align: center;
}

div {
     width: max-content;
     margin: auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
