/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
     font-size: 62.5%;
}

body {
     background: no-repeat center/100%  url(/images/animatedspace.gif);
     padding: 1.5rem;
}

h1{
  color: white;   
}

h1 {
     text-align: center;
     font-size: 4rem;
}

h2 {
     text-align: center;
     color: white;
     font-size: 3rem;
}

input {
     padding: .5rem 1rem;
     font-size: 1.5rem;
}

button {
     padding: 1rem 3rem;
     font-size: 2rem;
     border-radius: 8px;
     border: none;
}



/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

figure {
     
     border: 2px solid white;
}

img {
     width: 30%;
     display: block;
     margin: auto;
     
}

p {
     font-family: 'Nunito', sans-serif;
     font-size: 2rem;
     font-weight: 600;
     width: 70%;
     margin: auto;
     text-align: center;
     color: #FFF5AB;
     line-height: 3.5rem;
     /* background: #10143A; */
}

div {
     border: 2px solid white;
     width: 40%;
     margin: auto;
     display: flex;
     justify-content: space-around;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
